* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header h1 {
  text-align: center;
  margin: 5rem;
}
.deck {
  display: grid;
  grid-template-rows: 33.3% 33.3% 33.3%;
  grid-template-columns: auto;
  grid-template-areas: "top" "middle" "bottom";
}
.card_cont {
  width: 190px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 9px #4e30008f;

}

.figlio:hover {
    width: 200px;
    height: 310px;
    box-shadow: 0px 0px 30px #00000055;
}

.figlio{
    border: solid 6px hsl(43, 88%, 49%);
    border-radius: 10px;
    width: 190;
    height: 19rem;
    border-radius: 10px;
    background: url("../img/pattern.jpg") center center no-repeat;
  background-size: cover;
  transition: width 0.3s, height 0.3s, box-shadow 0.3s;
}

.top-deck {
  grid-area: "top";
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1rem;
}
.middle-deck {
  grid-area: "top";
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
    margin-top: 1rem;
}
.bottom-deck {
  grid-area: "top";
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
    margin-top: 1rem;
}
